<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Characters</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more characters...">


			<ion-card button detail lines="inset" *ngFor="let character of characters | async"
				(click)="openDetails(character)">
				<ion-item>
					<ion-avatar slot="start">
						<img [src]="character.img" *ngIf="character.img != 'N/A'">
                    </ion-avatar>
						<ion-label text-wrap>
							<h2> {{character.name}}</h2>
						</ion-label>
				</ion-item>
			</ion-card>

		</ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>