<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Quote Detail</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-card *ngIf="quote">
		<ion-card-content>
			<ion-card-content class="quoteTitle">
				{{ quote.author }}

			</ion-card-content>
			<ion-item>
				<ion-icon name="person-circle-outline" slot="start"></ion-icon>
				Author: {{ quote.author }}
			</ion-item>

			<ion-item>
				<ion-icon name="videocam-outline" slot="start"></ion-icon>
				Series: {{ quote.series }}
			</ion-item>

			<ion-item>
				<ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
				Quote: {{ quote.quote }}
			</ion-item>

		</ion-card-content>
	</ion-card>
</ion-content>