<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Episodes</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more episodes...">
		
			<ion-card button detail lines="inset" *ngFor="let episode of episodes | async"
				(click)="openDetails(episode)">
                <ion-item>
				<h2>{{ episode.title }}</h2>
                </ion-item>
                <ion-item>
				<p>{{ episode.series}} - Season: {{ episode.season }}</p>

                </ion-item>

                
                
			</ion-card>
		
        </ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>