<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Character Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="character">

		<ion-card-content>
			<ion-card-content class="charTitle">
				{{ character.name }}

				<ion-icon (click)="unfavouriteCharacter()" *ngIf="isFavourite" class="heartIcon" name="heart"></ion-icon>
				<ion-icon (click)="favouriteCharacter()" *ngIf="!isFavourite" class="heartIconOut" name="heart-outline">
				</ion-icon>

			</ion-card-content>

			<img src="{{character.img}}">


			<ion-item>
				<ion-icon name="person-circle-outline" slot="start"></ion-icon>
				Name: {{ character.name }}
			</ion-item>

			<ion-item>
				<ion-icon name="happy-outline" slot="start"></ion-icon>
				Nick Name: {{ character.nickname }}
			</ion-item>

			<ion-item>
				<ion-icon name="calendar-outline" slot="start"></ion-icon>
				Birthday: {{ character.birthday }}
			</ion-item>

			<ion-item>
				<ion-icon name="camera-outline" slot="start"></ion-icon>
				Portrayed: {{ character.portrayed }}
			</ion-item>

			<ion-item>
				<ion-icon name="videocam-outline" slot="start"></ion-icon>
				Category: {{ character.category }}
			</ion-item>

			<ion-item>
				<ion-icon name="alarm-outline" slot="start"></ion-icon>
				Status: {{ character.status }}
			</ion-item>

			<ion-item>
				<ion-icon name="briefcase-outline" slot="start"></ion-icon>
				Occupation: {{ character.occupation }}
			</ion-item>

			<ion-item>
				<ion-icon name="eye-outline" slot="start"></ion-icon>
				Appearance: {{ character.appearance }}
			</ion-item>

		</ion-card-content>
	</ion-card>

</ion-content>