<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Character Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="character">
		<ion-card-content>
			<ion-icon *ngIf="icon" (click)="like(character.char_id)" class="heartIcon"  name="heart"></ion-icon>
			<ion-icon *ngIf="!icon" (click)="like(character.char_id)" class="heartIcon"  name="heart-outline"></ion-icon>
			
				<img src="{{character.img}}">
			  
			<p>Name: {{ character.name }}</p>
			<p>Nick Name: {{ character.nickname }}</p>
			<p>Birthday: {{ character.birthday }}</p>
			<p>Portrayed: {{ character.portrayed }}</p>
			<p>Categotry: {{ character.category }}</p>
			<p>Status: {{ character.status }}</p>
			<h3>Occupation:</h3>
			<p *ngFor="let x of character.occupation"></p>
			<h3>Appearance:</h3>
			<p *ngFor="let x of character.appearance"></p>
		</ion-card-content>
	</ion-card>

</ion-content>
