<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Character Details</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>

	<ion-card *ngIf="character">
		<ion-card-content>
			{{ character.name }}
		</ion-card-content>
		<ion-card *ngIf="character" class="movie-card">
			<ion-card-header color="warning">Character {{ character.character }}: {{ character.title }}
			</ion-card-header>
			<ion-card-content>
				{{ character.birthday }}
			</ion-card-content>
            <p align="center"><img [src]="character.img" width="180" height="180" class="info-img"></p>
			
            <ion-item class="movie-info" lines="none">
				<ion-icon name="calendar" slot="start"></ion-icon>
				Actor: {{ character.name }}
			</ion-item>
			<ion-item class="movie-info" lines="none">
				<ion-icon name="people-outline" slot="start"></ion-icon>
				Nickname: {{ character.nickname }}
			</ion-item>
			<ion-item class="movie-info" lines="none">
				<ion-icon name="document" slot="start"></ion-icon>
				Category: {{ character.category}}
			</ion-item>

		</ion-card>
	</ion-card>
</ion-content>