.homeTitle {
   text-align: center;

}
.subTitle {
    text-align: center;
    width: 40%;
    float: left;
    
}
h2 {
    line-height: 1.5;
    font-size: 30px;
    font-weight: bold;
   
}

.homeImg {
    float:right;
    width: 60%;
    height: auto;
}
.projectInfo {
   
    clear: both;
    text-align: center;
    background-color: #F29544;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: black;
}