
.heartIcon {
    color: #D93425;
    position: absolute;
    right: 15px;
    font-size: 30px;
}

.heartIconOut {
    position: absolute;
    right: 15px;
    font-size: 30px;
}

.episodeTitle {
    background: #F29544;
    font-size: 20px;
    font-weight: bold;
    color:rgb(41, 37, 37);

}