<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Episode Details</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>

	<ion-card *ngIf="episode">
		<ion-card-content>
			<ion-icon *ngIf="icon" (click)="like(episode.episode_id)" class="heartIcon"  name="heart"></ion-icon>
			<ion-icon *ngIf="!icon" (click)="like(episode.episode_id)" class="heartIcon"  name="heart-outline"></ion-icon>
			<p>Title: {{ episode.title }}</p>
			<p>Season: {{ episode.season }}</p>
			<p>Date: {{ episode.air_date }}</p>
			<h3>Characters:</h3>
			<p *ngFor="let x of episode.characters"></p>
		</ion-card-content>
	</ion-card>

</ion-content>