<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start" defaulthref="/tabs/episodes">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Episode Details</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>

	<ion-card *ngIf="episode">

		<ion-card-content>
			<ion-card-content class="episodeTitle">
				{{ episode.title }}

				<ion-icon (click)="unfavouriteEpisode()" *ngIf="isFavourite" class="heartIcon" name="heart"></ion-icon>
				<ion-icon (click)="favouriteEpisode()" *ngIf="!isFavourite" class="heartIconOut" name="heart-outline">
				</ion-icon>

			</ion-card-content>

			<ion-item>
				<ion-icon name="film-outline" slot="start"></ion-icon>
				Title: {{ episode.title }}
			</ion-item>

			<ion-item>
				<ion-icon name="videocam-outline" slot="start"></ion-icon>
				Season: {{ episode.season }}
			</ion-item>

			<ion-item>
				<ion-icon name="calendar-outline" slot="start"></ion-icon>
				Date: {{ episode.air_date }}
			</ion-item>

			<ion-item>
				<ion-icon name="people-circle-outline" slot="start"></ion-icon>
				Characters: {{ episode.characters }}
			</ion-item>



		</ion-card-content>
	</ion-card>

</ion-content>